[Unit]
Description=uwsgi-{{ args.project }} uwsgi app
After=network.target

[Service]
ExecStart = /usr/bin/uwsgi --die-on-term --ini /etc/uwsgi/apps-enabled/{{ args.project }}.ini
ExecReload = /bin/kill -HUP $MAINPID
User = www-data
Group = www-data
SyslogIdentifier = "uwsgi-{{ args.project }}"
LimitCORE=0

[Install]
WantedBy=multi-user.target
