[uwsgi]
project={{ args.project }}
base=/usr/lib/python3/dist-packages/%(project)/
chdir=%(base)/
chmod-socket=660
chown-socket=www-data
env=PYTHONPATH=/etc/%(project):$PYTHONPATH
env=DJANGO_SETTINGS_MODULE=settings
master=true
module=%(project).wsgi:application
plugins=python3
processes=4
socket=/run/uwsgi/%(project).sock
uid=www-data
vacuum=true
